Repository rapidsai/rapids-logger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rapids-logger-cpp-codeowners, @rapidsai/rapids-logger-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Determine the branch using RAPIDS_VERSION
  rapids_config.cmake
Owners: @rapidsai/rapids-logger-cmake-codeowners

fmt tags don't start with v
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Set exclude_from_all
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Use SPDX for all copyright headers
  .pre-commit-config.yaml
  CMakeLists.txt
  ci/build_conda.sh
  ci/build_dynamic.sh
  ci/build_static.sh
  ci/build_wheel.sh
  ci/check_style.sh
  ci/check_symbols.sh
  ci/release/update-version.sh
  cmake/RAPIDS.cmake
  cmake/create_logger_macros.cmake
  cmake/logger_macros.hpp.in
  conda/recipes/rapids-logger/recipe.yaml
  dependencies.yaml
  include/rapids_logger/log_levels.h
  include/rapids_logger/logger.hpp
  pyproject.toml
  python/rapids-logger/CMakeLists.txt
  python/rapids-logger/pyproject.toml
  python/rapids-logger/rapids_logger/__init__.py
  python/rapids-logger/rapids_logger/_version.py
  python/rapids-logger/rapids_logger/load.py
  rapids_config.cmake
  scripts/run-cmake-format.sh
  src/logger.cpp
  tests/CMakeLists.txt
  tests/basic_test.cpp
  tests/template/CMakeLists.txt
  tests/template/cmake_test.cmake
  tests/template/generate_logger_macros/CMakeLists.txt
  tests/template/generate_logger_macros/test.cpp
  tests/test_dynamic_libs/CMakeLists.txt
  tests/test_dynamic_libs/test.cpp
Owners: @rapidsai/packaging-codeowners, @rapidsai/rapids-logger-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/rapids-logger-cpp-codeowners

Use SPDX license identifiers in pyproject.toml, bump build dependency floors
  dependencies.yaml
  python/rapids-logger/pyproject.toml
Owners: @rapidsai/packaging-codeowners

use anchors in dependencies.yaml, update pre-commit hooks
  .pre-commit-config.yaml
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Update RAPIDS_LOGGER_EXPORT definition for cross-platform compatibility
  include/rapids_logger/logger.hpp
Owners: none

fix for changes in pip's handling of build constraints
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Update ci/build_wheel.sh
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

workflows/pr.yaml - updated all of the shared-workflows references from @branch-25.10 to @main
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

workflows/build.yaml - updated all of the shared-workflows references from @branch-25.10 to @main
  .github/workflows/build.yaml
Owners: @rapidsai/ci-codeowners

enable ops bot
  .github/ops-bot.yaml
Owners: @rapidsai/ci-codeowners

Update .github/ops-bot.yaml
  .github/ops-bot.yaml
Owners: @rapidsai/ci-codeowners

enforce wheel size limits, PEP 639 metadata
  .pre-commit-config.yaml
  ci/build_wheel.sh
  ci/validate_wheel.sh
  python/rapids-logger/pyproject.toml
Owners: @rapidsai/packaging-codeowners, @rapidsai/ci-codeowners

CI scripts: remove pip.conf migration code
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Use verify-hardcoded-version pre-commit hook
  .pre-commit-config.yaml
Owners: @rapidsai/packaging-codeowners

refactor update-version.sh to handle new branching strategy
  RAPIDS_BRANCH
  ci/check_style.sh
  ci/release/update-version.sh
  rapids_config.cmake
Owners: @rapidsai/ci-codeowners, @rapidsai/rapids-logger-cmake-codeowners

update RAPIDS_VERSION
  RAPIDS_VERSION
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

fix relative paths
  rapids_config.cmake
Owners: @rapidsai/rapids-logger-cmake-codeowners

include RAPIDS_BRANCH file at test time
  conda/recipes/rapids-logger/recipe.yaml
Owners: @rapidsai/packaging-codeowners

Remove CMAKE_CXX_SCAN_FOR_MODULES workaround now that sccache is updated
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Support Fully offline builds which use a system spdlog
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Update copyright year
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Avoid overriding BUILD_SHARED_LIBS in the cache for callers when we aren't the top-level project
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Require CMake 4.0
  CMakeLists.txt
  cmake/RAPIDS.cmake
  python/rapids-logger/CMakeLists.txt
  tests/CMakeLists.txt
  tests/template/generate_logger_macros/CMakeLists.txt
  tests/test_dynamic_libs/CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/rapids-logger-cpp-codeowners

Require CMake 4.0 (#73)
  CMakeLists.txt
  cmake/RAPIDS.cmake
  python/rapids-logger/CMakeLists.txt
  tests/CMakeLists.txt
  tests/template/generate_logger_macros/CMakeLists.txt
  tests/test_dynamic_libs/CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/rapids-logger-cpp-codeowners

feat: add zizmor config and pre-commit
  .github/zizmor.yml
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

fix(ci): hash-pin all third-party actions
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

fix(ci): explicit permissions per-job
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

fix(ci): use explicit secrets where possible
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

fix(ci): resolve all zizmor findings and add zizmor pre-commit checks (#74)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/zizmor.yml
  .pre-commit-config.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

.github/CODEOWNERS:

# cpp code owners
/src/                    @rapidsai/rapids-logger-cpp-codeowners
/tests/                  @rapidsai/rapids-logger-cpp-codeowners

# cmake code owners
CMakeLists.txt           @rapidsai/rapids-logger-cmake-codeowners
**/CMakeLists.txt        @rapidsai/rapids-logger-cmake-codeowners
**/cmake/                @rapidsai/rapids-logger-cmake-codeowners
*.cmake                  @rapidsai/rapids-logger-cmake-codeowners
/cmake/                  @rapidsai/rapids-logger-cmake-codeowners
/tests/                  @rapidsai/rapids-logger-cpp-codeowners

# CI code owners
# Includes the python directory because that is just the loading shim and the
# build team is most familiar with that.
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/python/                 @rapidsai/ci-codeowners

# packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
/conda/                  @rapidsai/packaging-codeowners
/dependencies.yaml       @rapidsai/packaging-codeowners
/build.sh                @rapidsai/packaging-codeowners
pyproject.toml           @rapidsai/packaging-codeowners
**/pyproject.toml        @rapidsai/packaging-codeowners
