Repository rapidsai/rapids-logger, changes with the owners that .github/CODEOWNERS names for each.
All owners: @rapidsai/rapids-logger-cpp-codeowners, @rapidsai/rapids-logger-cmake-codeowners, @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

stop uploading packages to downloads.rapids.ai
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  ci/build_conda.sh
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Switch to using C++20 and std::format
  CMakeLists.txt
  src/logger.cpp
Owners: @rapidsai/rapids-logger-cmake-codeowners, @rapidsai/rapids-logger-cpp-codeowners

Remove outstanding references to fmt
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Format
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Drop fmt from deps and bump spdlog version
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Some cleanup
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Some cleanup
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Style
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Reset version
  dependencies.yaml
Owners: @rapidsai/packaging-codeowners

Remove some more references
  README.md
  ci/build_dynamic.sh
  ci/check_symbols.sh
  include/rapids_logger/logger.hpp
  tests/test_dynamic_libs/CMakeLists.txt
Owners: @rapidsai/ci-codeowners, @rapidsai/rapids-logger-cpp-codeowners

Remove remaining fmt references
  README.md
  ci/build_dynamic.sh
  ci/check_symbols.sh
  include/rapids_logger/logger.hpp
  tests/test_dynamic_libs/CMakeLists.txt
Owners: @rapidsai/ci-codeowners, @rapidsai/rapids-logger-cpp-codeowners

Bump spdlog version for fixes for std::format support
  CMakeLists.txt
  dependencies.yaml
Owners: @rapidsai/rapids-logger-cmake-codeowners, @rapidsai/packaging-codeowners

Revert "Bump spdlog version for fixes for std::format support"
  CMakeLists.txt
  dependencies.yaml
Owners: @rapidsai/rapids-logger-cmake-codeowners, @rapidsai/packaging-codeowners

Stop trying to format the spdlog type directly and just convert it to a string
  src/logger.cpp
Owners: @rapidsai/rapids-logger-cpp-codeowners

Make sure that we link to a preexisting libspdlog
  ci/build_dynamic.sh
Owners: @rapidsai/ci-codeowners

Update to 25.10 images
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Disable module scanning
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Update version
  VERSION
Owners: none

Add docs on release
  README.md
Owners: none

Test commit for CI
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Revert "Test commit for CI"
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Update hooks
  .pre-commit-config.yaml
Owners: @rapidsai/packaging-codeowners

Update to 25.10 workflows
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
Owners: @rapidsai/ci-codeowners

Add RAPIDS.cmake to enable easier overriding of what is fetched
  cmake/RAPIDS.cmake
  rapids_config.cmake
Owners: @rapidsai/rapids-logger-cmake-codeowners

Use 25.10
  rapids_config.cmake
Owners: @rapidsai/rapids-logger-cmake-codeowners

Add cmake dir to recipe
  conda/recipes/rapids-logger/recipe.yaml
Owners: @rapidsai/packaging-codeowners

Update style
  ci/check_style.sh
Owners: @rapidsai/ci-codeowners

Add RAPIDS_VERSION file
  RAPIDS_VERSION
  conda/recipes/rapids-logger/recipe.yaml
  rapids_config.cmake
Owners: @rapidsai/packaging-codeowners, @rapidsai/rapids-logger-cmake-codeowners

Update version
  VERSION
Owners: none

Add docs on release
  README.md
Owners: none

Stop trying to use rapids-cmake for fmt
  CMakeLists.txt
Owners: @rapidsai/rapids-logger-cmake-codeowners

Update VERSION
  VERSION
Owners: none

Document patch release process
  README.md
Owners: none

Read version from file
  ci/check_style.sh
Owners: @rapidsai/ci-codeowners

Conda builds use VERSION directly
  ci/build_conda.sh
  conda/recipes/rapids-logger/recipe.yaml
Owners: @rapidsai/ci-codeowners, @rapidsai/packaging-codeowners

Wheels no longer overwrite version
  ci/build_wheel.sh
Owners: @rapidsai/ci-codeowners

Disable branch builds
  .github/workflows/build.yaml
Owners: @rapidsai/ci-codeowners

Use common rattler args
  ci/build_conda.sh
Owners: @rapidsai/ci-codeowners

Update update-version.sh
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

Update ci/release/update-version.sh
  ci/release/update-version.sh
Owners: @rapidsai/ci-codeowners

.github/CODEOWNERS:

# cpp code owners
/src/                    @rapidsai/rapids-logger-cpp-codeowners
/tests/                  @rapidsai/rapids-logger-cpp-codeowners

# cmake code owners
CMakeLists.txt           @rapidsai/rapids-logger-cmake-codeowners
**/CMakeLists.txt        @rapidsai/rapids-logger-cmake-codeowners
**/cmake/                @rapidsai/rapids-logger-cmake-codeowners
*.cmake                  @rapidsai/rapids-logger-cmake-codeowners
/cmake/                  @rapidsai/rapids-logger-cmake-codeowners
/tests/                  @rapidsai/rapids-logger-cpp-codeowners

# CI code owners
# Includes the python directory because that is just the loading shim and the
# build team is most familiar with that.
/.github/                @rapidsai/ci-codeowners
/ci/                     @rapidsai/ci-codeowners
/python/                 @rapidsai/ci-codeowners

# packaging code owners
/.pre-commit-config.yaml @rapidsai/packaging-codeowners
/conda/                  @rapidsai/packaging-codeowners
/dependencies.yaml       @rapidsai/packaging-codeowners
/build.sh                @rapidsai/packaging-codeowners
pyproject.toml           @rapidsai/packaging-codeowners
**/pyproject.toml        @rapidsai/packaging-codeowners
